@import url('https://fonts.googleapis.com/css?family=Montserrat|Nunito:400,700');

/* GENERAL */
html {
  font-size:62.5%;
}
 
.App {
  font-size:1.6rem;
  color:black;
}

p, h1, h2, a {
  margin: 0;
  padding:0;
}

button {
  padding:1%;
  border:1px solid mintcream;
  border-radius:15px 20px;
  font-weight:bold;
  color:dimgrey;
}

/* HEADER */
header {
  min-height:90vh;
  font-family: 'Nunito', sans-serif;
  background: mintcream;
}

  header .title {
    width:30%;
    margin:0 auto 3% auto;
    padding:1.5%;
    font-size:2rem;
    text-align:center;
    border-bottom:15px dotted black;
  }

  form {
    padding-bottom:5%;
    text-align:center;
    font-size:2rem;
  }

  form p {
    margin-bottom:2%;
  }

  form #userInput, #submit {
    padding:1%;
    border-radius:15px 20px;
    border:1px solid black;
    margin:0.5%;
    font-size:1.4rem;
    font-weight:bold;
  }

  #userInput {
    width:200px;
  }

  #userInput:focus {
    border:2px solid black;
  }

  #submit {
    color:dimgrey;
    background:white;
  }


  /* SHELTERS SECTION */
  #shelters {
    display:flex;
    flex-wrap: wrap;
    padding: 2% 0;
  }

    #shelters li {
    list-style-type: none;
    font-weight:bold;
  }

.displayShelters {
  width:30%;
  padding:1%;
  margin:2% auto;
  border-top:1px solid black;
  border-left: 1px solid black;
}

  .displayShelters:hover {
    background:lavender;
    transform: scale(1.03);
    transition:0.7s;
  }

    .displayShelters button {
      display:block;
      padding:10px 15px;
    }

/* PETS SECTION */ 
#pets {
  background:lavender;
  display:flex;
  flex-wrap: wrap;
  padding:5% 0;
  position:relative;
}

.arrow:after {
    border-top: 60px solid mintcream;
    border-left: 60px solid transparent; 
    border-right: 60px solid transparent;
    content: "";
    position: absolute;
    left: 46%;
    top:0;
    margin-left: -21px;
    width: 0; 
    height: 0;
}

.displayPets {
  width:calc(35% - 5%);
  margin:1.5%;
  padding-top:3%;
  text-align:center;
  font-family: 'Montserrat', sans-serif;
}

.displayPets h2 {
  margin-bottom:3%;
}

.petImg {
  max-height:500px;
  object-fit: contain;
  overflow: hidden;
  border-radius:15px 20px;
  position:relative;
}

.petImg img {
  width:100%;
  border-radius:15px 20px;
}

.overlay {
  position:absolute;
  top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	padding: 20px;
  background:rgb(230,230,250, 0.7);
  display:none;
  flex-direction: column;
 align-items: center;
 justify-content: center;
  color:black;
}

.overlay p {
  margin: 2% 0;
  font-weight:bold;
}
 .overlay .contact {
   width:80%;
   margin:2% 0;
 }
 .overlay .contact a {
   padding:0 5%;
 }

.petImg:hover .overlay {
  display:flex;
}

  .displayPets a {
    text-decoration: none;
    color:black;
    font-weight: bold;
  }


  /* MEDIA QUERIES */
  @media (max-width:700px) {
     .displayShelters {
      width:calc(50% - 4%);
    }
  }

  @media (max-width:500px) {
    header .title {
      width:50%;
    }
    .displayShelters {
      width:100%;
    }

    .arrow:after {
    border-top: 60px solid mintcream;
    border-left: 60px solid transparent; 
    border-right: 60px solid transparent;
    content: "";
    position: absolute;
    left: 40%;
    top:0;
    margin-left: -21px;
    width: 0; 
    height: 0;
}

#pets {
  padding-top:15%;
}
    .displayPets {
      width:80%;
      margin:auto;
    }
  }



