@import url('https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet');
/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* GENERAL */
html {
  font-size:62.5%;
}
 
.App {
  font-size:2.3rem;
  color:white;
}

p, h1, h2, a {
  margin: 0;
  padding:0;
}

button {
  padding:1%;
  border:1px solid lavender;
  border-radius:15px 20px;
  font-weight:bold;
  color:dimgrey;
}

/* HEADER */
header {
  text-align:center;
  min-height:90vh;
  padding-top:5%;
  font-family: 'Nunito', sans-serif;
  background: rgba(72,61,139,0.5);
  /* font-size:3rem; */
}

  header .title {
    width:40%;
    margin:0 auto;
    font-size:3rem;
  }

  form {
    padding-bottom:5%;
  }

  form #userInput, #submit {
    padding:1%;
    border-radius:15px 20px;
    border:1px solid lavender;
    margin:0.5%;
    font-size:1.4rem;
    font-weight:bold;
  }

  #userInput {
    width:200px;
  }

  #userInput:focus {
    border:2px solid rgba(72,61,139, 0.8);
  }

  #submit {
    color:dimgrey;
    background:white;
  }


  /* SHELTERS SECTION */
  #shelters {
    /* background: rgba(186,85,211,0.2); */
    display:flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    padding: 2% 0;
    /* font-size:1.6rem; */
  }

    #shelters li {
    list-style-type: none;
    font-weight:bold;
  }

.displayShelters {
  width:30%;
  padding:1%;
  margin:2% auto;
  text-align:center;
  /* background:#a594f9; */
  border-radius:15px 20px;
  /* border:3px dotted white; */
}

  .displayShelters:hover {
    background:rgba(72,61,139,0.1);
    transition:0.5s;
  }

    .displayShelters button {
      display:block;
      margin:2% auto;
      padding:10px 15px;
    }

/* PETS SECTION */
  
#pets {
  background:rgba(72,61,139,0.4);
  display:flex;
  flex-wrap: wrap;
  padding:5% 0;
  position:relative;
}

.arrow:after {
    border-top: 60px solid rgba(72,61,139,0.2);
    border-left: 60px solid transparent; 
    border-right: 60px solid transparent;
    content: "";
    position: absolute;
    left: 46%;
    top:0;
    margin-left: -21px;
    width: 0; 
    height: 0;
}

.displayPets {
  /* border:1px solid red; */
  width:calc(35% - 4%);
  margin:1%;
}

/* .displayPets {
  padding:1%;
  margin:2% auto;
  width:calc(30% - 2%);
  background:rgba(72,61,139,0.3);
  box-shadow: 10px 10px  rgb(72,61,139, 0.1);
  text-align:center;
  border-radius:20px 25px;
  display:flex;
  flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
/* } */

.petImg {
  /* width:80%; */
  max-height:500px;
  object-fit: contain;
  overflow: hidden;
  /* border:1px solid red; */
  position:relative;
}

.petImg img {
  width:100%;
  /* max-height:400px; */
}

.overlay {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background:rgba(72,61,139,0.7);
  display:none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:white;
}


.petImg:hover .overlay {
  display:flex;
}

  .displayPets a {
    text-decoration: none;
    color:white;
    font-weight: bold;
  }



